.myDiv {
    border: 5px outset rgb(255, 170, 0);
    background-color: rgb(255, 140, 0);
    text-align: center;
    height: 100%;

}

table {
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 90%;
    padding: 10px;
    height: 50px;
    /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}